<form class="form-horizontal"  role="form" novalidate ng-submit="SavePrueba()" name="formPrueba">
    <div class="row">    
        <div class="col-xs-6">       
            <fieldset>
                <legend>Instalación</legend>
                <div class="form-group">
                    <label class="col-sm-8 ">
                        Ventilación adecuada
                    </label>
                    <div class="col-sm-4">                    
                        <check value="prueba.ventilacion"></check>
                    </div>
                </div> 

                <div class="form-group">
                    <label class="col-sm-8 ">
                        Orientación adecuanda de la planta
                    </label>
                    <div class="col-sm-4">                    
                        <check value="prueba.orientacion"></check>
                    </div>
                </div> 

                <div class="form-group">
                    <label class="col-sm-8 ">
                        Nivelación de Planta adecuado
                    </label>
                    <div class="col-sm-4">                    
                        <check value="prueba.nivel"></check>
                    </div>
                </div> 


                <div class="form-group">
                    <label class="col-sm-8 ">
                        Colocador de Silenciador(es)
                    </label>
                    <div class="col-sm-4">                    
                        <check value="prueba.silenciador"></check>
                    </div>
                </div> 


                <div class="form-group">
                    <label class="col-sm-8 ">
                        Instalación de Tanque y Tuberías de combustible
                    </label>
                    <div class="col-sm-4">                    
                        <check value="prueba.combustible"></check>
                    </div>
                </div> 


                <div class="form-group">
                    <label class="col-sm-8 ">
                        Aterrizado
                    </label>
                    <div class="col-sm-4">                    
                        <check value="prueba.aterrizado"></check>
                    </div>
                </div> 


                <div class="form-group">
                    <label class="col-sm-8 ">
                        Conexión a Neutro
                    </label>
                    <div class="col-sm-4">                    
                        <check value="prueba.neutro"></check>
                    </div>
                </div> 

                <div class="form-group">
                    <label class="col-sm-8 ">
                        Conexión Electrica de Fuerza
                    </label>
                    <div class="col-sm-4">                    
                        <check value="prueba.fuerza"></check>
                    </div>
                </div> 


                <div class="form-group">
                    <label class="col-sm-8 ">
                        ¿Tiene Precalentador de Agua ?
                    </label>
                    <div class="col-sm-4">                    
                        <check value="prueba.precalentador"></check>
                    </div>
                </div> 


                <div class="form-group">
                    <label class="col-sm-8 ">
                        ¿Tiene UBT?
                    </label>
                    <div class="col-sm-4">                    
                        <check value="prueba.ubt"></check>
                    </div>
                </div> 

            </fieldset>
        </div> 
        <div class="col-xs-6">
            <div class="row">
                <div class="col-sm-12">
                    <datosarranque></datosarranque>
                </div>
            </div>                   
        </div>        
    </div>    
</form>