<fieldset>
    <legend>Datos Prueba</legend>
    <div class="row">                        
        <div class="col-sm-6">
            <label>Fecha y Hora de Inicio</label>
        </div>                            
        <div class="col-sm-6">
            <label class="label label-success">{{prueba.dtInicio| date : 'dd-MM-yyyy hh:mm:ss'}}</label>
        </div>
    </div>                                            
    <div class="row">                        
        <div class="col-sm-6">
            <label>Fecha y Hora de Termino</label>
        </div>                            
        <div class="col-sm-6">
            <label class="label label-success">{{prueba.dtFin| date : 'dd-MM-yyyy hh:mm:ss'}}</label>
        </div>
    </div>                                                                                                                                                
    <div class="row">                        
        <div class="col-sm-6">
            <label>Folio</label>
        </div>                            
        <div class="col-sm-6">
            <label class="label label-success">{{ensamble.folio}}</label>
        </div>
    </div> 
    <div class="row">                        
        <div class="col-sm-6">
            <label>Carril de prueba</label>
        </div>                            
        <div class="col-sm-6">
            <label class="label label-success">{{ensamble.kit.descripcion}}</label>
        </div>
    </div>
    <div class="row" ng-show="AccumulateTime !== null">                        
        <div class="col-sm-6">
            <label>Tiempo Prueba</label>
        </div>                            
        <div class="col-sm-6">
            <label  class="label label-primary">{{AccumulateTime| minutos}}</label> 
        </div>
    </div>       
    <div class="row">                        
        <div class="col-sm-6">
            <label>Estatus</label>
        </div>                            
        <div class="col-sm-6">
            <label  class="label label-primary">{{prueba.estatus}}</label> 
        </div>
    </div> 
    <fieldset ng-show="prueba.estatus === 'Finalizada'">
        <legend>Resultados de la Prueba Ejecutor</legend>        
        <div class="form-group">                        
            <div class="col-sm-12">
                <button ng-click="Autoriza()"  class="btn btn-success" ng-show="CanAprove" >
                    Autorizar
                </button>
                <button ng-click="Rechaza()" class="btn btn-danger" >
                    Rechazar
                </button>
            </div>
        </div>
    </fieldset>
    <fieldset ng-show="prueba.estatus === 'AutorizadoEjecutor'">
        <legend>Resultados de la Prueba Supervisor</legend>        
        <div class="form-group">                        
            <div class="col-sm-12">
                <button ng-click="AutorizaS()" class="btn btn-success" type="button" >
                    Autorizar
                </button>
                <button ng-click="RechazaS()" class="btn btn-danger" type="button" >
                    Rechazar
                </button>
            </div>
        </div>
    </fieldset>
</fieldset>
