<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form" name="formPlanta" ng-submit="submit()">   
            <div class="row">
                <div class="col-md-12" style="background-color: #EDEFEE">
                    <fieldset>
                        <legend >
                            Datos Generales de la Planta de Emergencia                                                        
                        </legend>
                        <div class="row">
                            <div class="col-md-4">                               
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Modelo:                                       
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" required ng-model="planta.motores.modelo" name="modelo" placeholder="Modelo">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        No. Serie:                                       
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" required ng-model="planta.noSerie" name="serie">
                                    </div>
                                </div>                                
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        No. OP
                                    </label>
                                    <div class="col-md-8 album-search text-center" ng-cloack>
                                        <autocomplete class="typeahead" items="OPS" term="planta.noOp" search="searchOP(term)" select="selectOp(item)">
                                            <div class="menu" ng-cloak>                                                
                                                <ul>
                                                    <li itemautocomplete="op" ng-repeat="op in OPS" class="results">
                                                        <img src="../../img/Planta_icons/PlantaDeEmergencia_icon.png" alt=""/>
                                                        <p class="name">No Op: {{op.op}}</p> <p class="artist">Descripcion: {{op.descripcion}}</p>
                                                    </li>
                                                </ul>                                                
                                            </div>
                                        </autocomplete>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">                                
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Motores:
                                    </label>
                                    <div class="col-md-8">
                                        <select name="motor" ng-options="m.modelo group by m.marca for m in motores" ng-model="planta.motores" required class="form-control" ></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        Marca:                                        
                                    </label>                                        
                                    <label class="control-label col-md-8">{{ planta.motores.marca}}</label>                                        
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        Modelo:                                        
                                    </label>                                        
                                    <label class="control-label col-md-8">{{ planta.motores.modelo}}</label>                                        
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        No. Serie                                        
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" required ng-model="planta.motorSerie" name="serieMotor">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">                                
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Marca:                                        
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="planta.motores.generadorMarca" required name="generador_marca">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Modelo:                                        
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="planta.motores.generadorModelo" required name="generador_modelo">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        No. Serie                                        
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="planta.generadorSerie" required name="generador_serie">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="background-color: #EDEFEE">                        
                    <fieldset>
                        <legend >
                            Datos Especificos de la Planta De Emergencia
                        </legend>
                        <div class="row">
                            <div class="col-md-4">                                    
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Tipo de Servicio                                
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-options="c.id as c.text for c in tipoServicio" ng-model="planta.tipoOperacion" name="tipoOperacion"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        KW
                                    </label>
                                    <div class="col-md-8">
                                        {{planta.motores.kw}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        KVA
                                    </label>
                                    <div class="col-md-8">
                                        {{planta.motores.kva}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Corriente de operación
                                    </label>
                                    <div class="col-md-8">
                                        {{planta.motores.amp}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4">
                                        Descripcion de Producto
                                    </label>
                                    <div class="col-md-8">
                                        {{planta.op.descripcion}}
                                    </div>
                                </div>                        
                                <div class="form-group">
                                    <label class="col-md-6">
                                        Fecha Estimada
                                    </label>
                                    <div class="col-md-6">
                                        {{planta.op.dtEstimada}}
                                    </div>
                                </div>                        
                                <div class="form-group">
                                    <label class="col-md-6">
                                        Fecha Programada
                                    </label>
                                    <div class="col-md-6">
                                        {{planta.op.dtProgramada}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6">
                                        Fecha Iniciado
                                    </label>
                                    <div class="col-md-6">
                                        {{planta.op.dtIniciado}}
                                    </div>
                                </div>                        
                                <div class="form-group">
                                    <label class="col-md-6">
                                        Fecha Notificación Terminado
                                    </label>
                                    <div class="col-md-6">
                                        {{planta.op.dtTerminado}}
                                    </div>
                                </div>                        
                                <div class="form-group">
                                    <label class="col-md-6">
                                        Fecha Real
                                    </label>
                                    <div class="col-md-6">
                                        {{planta.op.dtReal}}
                                    </div>
                                </div>                        
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Tipo Control                                        
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-options="c.id as c.text for c in tipoControl" ng-model="planta.controlId" name="tipoControl"></select>  
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Carril                                  
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-options="(c.id + ' - ' + c.minCap + 'KW a ' + c.maxCap + 'KW')  for c in carriles" ng-model="ensamble.cariles" name="carril"></select>  
                                        <span class="error">
                                            <span ng-show="ensamble.cariles.maxCap < planta.motores.kw" >El carril no soporta la capacida de prueba de la planta</span>
                                        </span>
                                    </div>
                                </div>                                   

                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Fecha Programada de Pruebas                                  
                                    </label>
                                    <div class="col-md-8">
                                        <input ng-model="ensamble.dtProgramada"  type="date" class="form-control" name="dtProgramada" />
                                    </div>
                                </div>                                   
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Patin                                  
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" required ng-model="ensamble.patin" name="patin"> 
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Radiador                                  
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text"  class="form-control" required ng-model="ensamble.rediador" name="rediador"> 
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Guardas                                  
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text"  class="form-control" required ng-model="ensamble.guardas" name="guardas"> 
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Altitud                                  
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text"  class="form-control" required ng-model="ensamble.altitud" name="altitud"> 
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-4">                                    
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Cap. Interruptor                                        
                                    </label>
                                    <div class="col-md-8">
                                        <input type="number"  min="0" class="form-control" required ng-model="planta.capInt" name="capInt">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Fases:                                        
                                    </label>
                                    <div class="col-md-8">
                                        {{planta.motores.noFases}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Voltaje:                                        
                                    </label>
                                    <div class="col-md-8">
                                        <input type="number"  min="0" class="form-control" required ng-model="planta.voltaje" name="voltaje">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Frecuencia:                                       
                                    </label>
                                    <div class="col-md-8">
                                        {{planta.motores.frecuenciaOperacion}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" type="submit" ng-disabled="formPlanta.$invalid">
                        Guardar y Comenzar las Pruebas
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>